* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

body {
    /* background-color: aliceblue; */
    background-image: linear-gradient(to right, black, aliceblue);
}

li {
    list-style: none;
}

.head_link {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.head_link:hover {
    color: #DE546B;
}


/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .logreg {
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
}

.dropDownMenu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    width: 300px;
    height: 0;
    background: black;
    backdrop-filter: blur(16px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropDownMenu.open {
    height: 240px;
}

.navbar .log {
    padding: 0.5rem 1rem;
    align-items: end;
    display: flex;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.dropDownMenu .log {
    text-decoration: none;
    color: aliceblue;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
}

.log:hover {
    scale: 1.05;
    color: #DE546B;
}

.log:active{
    scale: 0.95;
}

.navbar .register {
    align-items: end;
    display: flex;
    text-decoration: none;
    color: aliceblue;
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.dropDownMenu .register {
    text-decoration: none;
    color: aliceblue;
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

.register:hover {
    scale: 1.05;
    color: #DE546B;
}

.register:active{
    scale: 0.95;
}

.dropDownMenu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {
    .navbar .links,
    .navbar .log,
    .navbar .register {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropDownMenu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropDownMenu {
        border-radius: 0px;
        left: 0rem;
        width: 100%;
    }
}

.mainPage {
    margin: 15rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    height: 500px;
    min-height: 450px;
    padding: 50px 20px;
}

.tab_content .show {
    display: flex;
    background-color: #DE546B;
    font-size: 14px;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1.1px;
    margin-top: 10px;
    cursor: pointer;
}

.tab_content .show:hover{
    background-color: #901B2E;
}

.customInput {
    width: 40%;
    max-height: 40px;
    border-radius: 10px;
    border: none;
    margin: 8px;
    outline: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: black;
    margin: auto;
    color: #fff;
}


.footer a{
    text-decoration: none;
    color: #fff;
}

.footer-col{
    width:33.3%;
    padding: 5rem 40px;
}

.rudolf-img{
    margin-left: 5rem;
    border-radius: 50%;
    width: 20vh;
    height: auto;
}

